@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add a new job";
}

<section class="form-section">
    <div class="form-section__container">

        @if (!IsPost)
        {
            var jobConnect = new JobRepository();
            jobConnect.FindAll();

            var fieldConnect = new FieldRepository();
            var fields = fieldConnect.FindAll();

            var categoryConnect = new CategoryRepository();
            var categories = categoryConnect.FindAll();

            <h1 class="form-section__title">Adding new job</h1>

            <form class="form" action="" method="post" enctype="multipart/form-data">
                <div class="form__field">
                    <label class="form__label" for="name">Title:</label>
                    <input class="form__input" required type="text" name="job_title">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Avarage salary:</label>
                    <input class="form__input" required type="text" name="job_salary">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">English is required:</label>
                    <select class="form__select" required name="job_english">
                        <option class="form__option" value="true">Yes</option>
                        <option class="form__option" value="false">No</option>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Category:</label>
                    <select class="form__input" required name="job_category">
                        <option class="form__input">Choose category</option>

                        @foreach (Category item in categories)
                        {
                            <option class="form__option" value="@item.Id">@item.Title</option>
                        }

                    </select>
                </div>


                <div class="form__field">
                    <label class="form__label" for="name">Field:</label>
                    <select class="form__input" required name="job_field">
                        <option class="form__input">Select field</option>

                        @foreach (Field item in fields)
                        {
                            <option class="form__option" value="@item.Id">@item.Title</option>
                        }

                    </select>
                </div>


                <div class="form__field">
                    <label class="form__label" for="name">Education:</label>
                    <input class="form__input" required type="text" name="job_education">
                </div>
                <div class="form__field">
                    <label class="form__label" for="msg">Keywords:</label>
                    <textarea class="form__textarea" name="job_keywords"></textarea>
                </div>

                <div class="form__submit">
                    <button class="form__button">Send my data</button>
                </div>
            </form>

        }
        else
        {
            var db = new JobRepository();
            var job = new Job(Request.Form);
            db.Add(job);

            <div class="form-section__result">
                <h1 class="form-section__thanks-title">Your submittion has been recorded!</h1>

                <div class="form-section__table">
                    <div class="form-section__cell form-section__cell--header">Title</div>
                    <div class="form-section__cell form-section__cell--header">English is required</div>
                    <div class="form-section__cell form-section__cell--header">Avarage salary</div>
                    <div class="form-section__cell form-section__cell--header">Category</div>
                    <div class="form-section__cell form-section__cell--header">Field</div>
                    <div class="form-section__cell form-section__cell--header">Education</div>
                    <div class="form-section__cell form-section__cell--header">Keywords</div>

                    <div class="form-section__cell">@job.Title</div>
                    <div class="form-section__cell">@job.English</div>
                    <div class="form-section__cell">@job.Salary</div>
                    <div class="form-section__cell">@job.CategoryId</div>
                    <div class="form-section__cell">@job.FieldId</div>
                    <div class="form-section__cell">@job.Education</div>
                    <div class="form-section__cell">@job.Keywords</div>
                </div>
            </div>

        }
    </div>
</section>