@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add a new job";
}

<section class="form-section">
    <div class="form-section__container">

        @if (!IsPost)
        {

            var db = new DBmanager();

            var data = db.GetById(Request.QueryString["id"]);

            <h1 class="form-section__title">Edit job: "@data.JobTitle"</h1>

            <form class="form" action="" method="post" enctype="multipart/form-data">
                <div class="form__field">
                    <label class="form__label" for="name">Title:</label>
                    <input class="form__input" required type="text" name="job_title" value="@data.JobTitle">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Avarage salary:</label>
                    <input class="form__input" required type="text" name="job_salary" value="@data.JobSalary">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">English is required:</label>
                    <select class="form__select" required name="job_english" >
                        <option class="form__option" value="true">Yes</option>
                        <option class="form__option" value="false">No</option>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Category:</label>
                    <input class="form__input" required type="text" name="job_category" value="@data.JobCategory">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Field:</label>
                    <input class="form__input" required type="text" name="job_field" value="@data.JobField">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Education:</label>
                    <input class="form__input" required type="text" name="job_education" value="@data.JobEducation">
                </div>
                <div class="form__field">
                    <label class="form__label" for="msg">Keywords:</label>
                    <textarea class="form__textarea" name="job_keywords"></textarea>
                </div>

                <div class="form__submit">
                    <button class="form__button">Send my data</button>
                </div>
            </form>

        }
        else
        {

            var db = new DBmanager(Request.Form);

            db.WriteData(db, Request.QueryString["id"]);

            <div class="form-section__result">
                <h1 class="form-section__thanks-title">Your submittion has been recorded!</h1>

                <div class="form-section__table">
                    <div class="form-section__cell form-section__cell--header">Title</div>
                    <div class="form-section__cell form-section__cell--header">English is required</div>
                    <div class="form-section__cell form-section__cell--header">Avarage salary</div>
                    <div class="form-section__cell form-section__cell--header">Category</div>
                    <div class="form-section__cell form-section__cell--header">Field</div>
                    <div class="form-section__cell form-section__cell--header">Education</div>
                    <div class="form-section__cell form-section__cell--header">Keywords</div>

                    <div class="form-section__cell">@db.JobTitle</div>
                    <div class="form-section__cell">@db.JobEnglish</div>
                    <div class="form-section__cell">@db.JobSalary</div>
                    <div class="form-section__cell">@db.JobCategory</div>
                    <div class="form-section__cell">@db.JobField</div>
                    <div class="form-section__cell">@db.JobEducation</div>
                    <div class="form-section__cell">@db.JobKeywords</div>
                </div>
            </div>


        }
    </div>
</section>