@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add a new job";
}

<section class="form-section">
    <div class="form-section__container">

        @if (!IsPost)
        {

            <h1 class="form-section__title">Adding new job</h1>

            <form class="form" action="" method="post" enctype="multipart/form-data">
                <div class="form__field">
                    <label class="form__label" for="name">Title:</label>
                    <input class="form__input" required type="text" name="job_title">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Avarage salary:</label>
                    <input class="form__input" required type="text" name="job_salary">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">English is required:</label>
                    <select class="form__select" required name="job_english">
                        <option class="form__option" value="true">Yes</option>
                        <option class="form__option" value="false">No</option>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Category:</label>
                    <input class="form__input" required type="text" name="job_category">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Field:</label>
                    <input class="form__input" required type="text" name="job_field">
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Education:</label>
                    <input class="form__input" required type="text" name="job_education">
                </div>
                <div class="form__field">
                    <label class="form__label" for="msg">Keywords:</label>
                    <textarea class="form__textarea" name="job_keywords"></textarea>
                </div>

                <div class="form__submit">
                    <button class="form__button">Send my data</button>
                </div>
            </form>

        }
        else
        {

            var jobTitle = Request.Form["job_title"];
            var jobCategory = Request.Form["job_category"];
            var jobEducation = Request.Form["job_education"];
            var jobEnglish = Request.Form["job_english"];
            var jobKeywords = Request.Form["job_keywords"];
            var jobSalary = Request.Form["job_salary"].AsInt();
            var jobField = Request.Form["job_field"];

            var db = Database.Open("StarterSite");
            var insertCommand = "INSERT INTO [Jobs] ([Title],[SalaryAvarage],[English],[Category],[Field],[Keywords],[Education]) VALUES(@0, @1, @2, @3, @4, @5, @6)";
            var recordedData = db.Query(insertCommand, jobTitle, jobSalary, jobEnglish, jobCategory, jobField, jobKeywords, jobEducation);

            <div class="form-section__result">
                <h1 class="form-section__thanks-title">Your submittion has been recorded!</h1>

                <div class="form-section__table">
                    <div class="form-section__cell form-section__cell--header">Title</div>
                    <div class="form-section__cell form-section__cell--header">English is required</div>
                    <div class="form-section__cell form-section__cell--header">Avarage salary</div>
                    <div class="form-section__cell form-section__cell--header">Category</div>
                    <div class="form-section__cell form-section__cell--header">Field</div>
                    <div class="form-section__cell form-section__cell--header">Education</div>
                    <div class="form-section__cell form-section__cell--header">Keywords</div>

                    <div class="form-section__cell">@jobTitle</div>
                    <div class="form-section__cell">@jobEnglish</div>
                    <div class="form-section__cell">@jobSalary</div>
                    <div class="form-section__cell">@jobCategory</div>
                    <div class="form-section__cell">@jobField</div>
                    <div class="form-section__cell">@jobEducation</div>
                    <div class="form-section__cell">@jobKeywords</div>
                </div>
            </div>


        }
    </div>
</section>