<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home IO</title>
    @Styles.Render("~/Content/dest/css/main.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar">
        <div class="navbar__container">
            <div class="navbar__logo-wrapper">
                @Html.ActionLink("Home IO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar__list-wrapper">
                <div class="navbar__list">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar__list-item button" })
                    @Html.ActionLink("Records", "List", "Record", null, new { @class = "navbar__list-item button" })
                    @Html.ActionLink("Add record", "New", "Record", null, new { @class = "navbar__list-item button" })
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
