@model SummaryPageViewModel



<section class="summary-grid">
    <div class="summary-grid__container">
        <h1 class="summary-grid__header">Summary for @DateTime.Now.ToLongDateString()</h1>

        <div class="summary-grid__grid">
            @foreach (var record in Model.SumRecords)
            {
                <div class="summary-grid__block">
                    <h3 class="summary-grid__title">@record.TypeName</h3>
                    <div class="summary-grid__value">@record.Amount @record.Unit</div>
                    <div class="summary-grid__cost" title="@record.Tariff[0] uah/@record.Unit">Cost: @record.Cost uah</div>
                    <div class="summary-grid__days">@record.Days.TotalDays days</div>
                </div>
            }

            <div class="summary-grid__block">
                <h3 class="summary-grid__title">Total cost</h3>
                <div class="summary-grid__cost">@Model.TotalCost uah</div>
                <div class="summary-grid__cost-perday">@(Model.TotalCost/DateTime.Now.Day) uah/day</div>
            </div>

        </div>

    </div>
</section>

