@model SummaryPageViewModel


<section class="summary-grid">
    <div class="summary-grid__container">

        @foreach (var record in Model.SumRecords)
        {
            <div class="summary-grid__block">
                <h3 class="summary-grid__title">@record.TypeName</h3>
                <div class="summary-grid__value">Amount: @record.Amount @record.Unit</div>
                <div class="summary-grid__cost">Cost: @record.Cost uah</div>
                <div class="summary-grid__days">@record.Days.TotalDays days</div>
            </div>
        }

        <div class="summary-grid__block">
            <h3 class="summary-grid__title">Total cost</h3>
            <div class="summary-grid__value">@Model.TotalCost uah</div>
        </div>


    </div>
</section>

